<table class="ui celled single line fixed table" id="offline-users">
   <thead>
      <tr>
         <th>
            Offline Users
            <div class="ui horizontal label">
               {{offlineUsers.length}}
            </div>
         </th>
      </tr>
   </thead>
   <tbody>
      <tr class="center aligned" *ngIf="loading">
         <td>
            <content-loader></content-loader>
         </td>
      </tr>
      <tr *ngIf="offlineUsers?.length < 1 && !loading">
         <td>
            No Offline Users
         </td>
      </tr>
      <tr *ngFor="let user of offlineUsers">
         <td>
            <img class="ui avatar image" src="{{user.imgUrl}}"> {{user.lastName}}, {{user.firstName}}
         </td>
      </tr>
   </tbody>
</table>
