.ui.button{
    color: #dc354e;  
    background-color: transparent;
    font-family: 'Comfortaa', cursive;
    font-size: 1.2rem;
    padding: 20px;
}

.ui.table#offline-user{
	background-color: transparent;
	border-color: #dc354e;
	border-width: 2.5px;
	border-radius: 20px;
}

.ui.table#offline-user thead{
	background-color: #dc354e;
	border-radius: 17px 17px 0px 0px;

}
.ui.table#offline-user thead tr th{
	background-color: #dc354e;
	color: white;
	font-family: 'Comfortaa', cursive;
	font-size: 1.07142857rem;
	letter-spacing: 0.3px;
	padding: 14px 20px;
}

.ui.table#offline-user thead tr:first-child>th:only-child{
	border-radius: 16px 16px 0px 0px;
}

.ui.table#offline-user tbody tr td{
	border-color: #dc354e;
	border-width: 2.5px;
}

.ui.table#offline-user td{
	color: #38383b;
	padding: 14px 20px;
	font-family: 'Comfortaa', cursive;
	font-size: 1.07142857rem;
	font-weight: 600;
}


.ui.table#offline-user tbody:last-child > td{
	padding: 0px;
}