<div class="ui grid container" id="content">
	<div class="ui row">
	  <!--<div class="ui four wide column">
	    <div class="ui form">
	      <div class="field">
	        <input type="text" name="view-by-date" placeholder="View by Date">
	      </div>
	    </div>
	  </div>-->
    <div class="ui five wide column">
      <h1>{{param}}'s timelogs</h1>      
    </div>
	  <div class="ui three wide column">
	    <div class="ui export button">Export to CSV</div>
	  </div>
	</div>
	<div class="ui  stackable row">
	  <div class="column">
      <timelogs-by-user-table></timelogs-by-user-table>
	  </div>
	</div>
</div>
