<div class="ui grid container" id="content">
	<div class="ui row">
	  <!--<div class="ui four wide column">
	    <div class="ui form">
	      <div class="field">
	        <input type="text" name="view-by-date" placeholder="View by Date">
	      </div>
	    </div>
	  </div>-->
    <div class="ui five wide column">
      <h1>{{param}}'s timelogs</h1>      
    </div>
	  <div class="ui three wide column">
	    <export></export>
	  </div>
	</div>
	<div class="ui  stackable row">
	  <div class="column">
			<form class="ui form" [formGroup]="dateRange" novalidate>
				<div class="fields">
						<div class="label field">
							<div class="input label">Start Date</div>
						</div>
						<div class="three wide field">
							<input class="form-control" style="float:none" placeholder="{{defaultStart}}" ngx-mydatepicker name="startDate"
										formControlName="startDate" [options]="myOptions" #sd="ngx-mydatepicker" (click)="sd.toggleCalendar()"/>
						</div>
						<div class="label field">
							<div class="input label">End Date</div>
						</div>
						<div class="three wide field">
							<input class="form-control" style="float:none" placeholder="{{defaultEnd}}" ngx-mydatepicker name="endDate"
										formControlName="endDate" [options]="myOptions" #ed="ngx-mydatepicker" (click)="ed.toggleCalendar()"/>
						</div>
				</div>
			</form> 
      <timelogs-by-user-table></timelogs-by-user-table>
	  </div>
	</div>
</div>
