<table class="ui celled table" id="time-logs">
  <thead>
    <tr>
      <th class="center aligned">Recent Timelog Date</th>
      <th class="center aligned">Recent Time In</th>
      <th class="center aligned">Recent Time Out</th>
      <th class="center aligned">Late Hours</th>
      <th class="center aligned">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="timelogs?.length < 1">
      <td class="center aligned" colspan="6">No Timelogs yet</td>
    </tr>
    <tr *ngFor="let timelog of timelogs">
      <td class="center aligned">
        <span *ngIf="timelog == null || (timelog != null && timelog.timeIn == null)">--</span>        
        <span *ngIf="timelog != null && timelog.timeIn != null">{{timelog.timeIn | date }}</span>
      </td>
      <td class="center aligned">
        <span *ngIf="timelog == null || (timelog != null && timelog.timeIn == null)">--</span>        
        <span *ngIf="timelog != null && timelog.timeIn != null">{{timelog.timeIn | date:'hh:mm:ss a'}}</span>
      </td>
      <td class="center aligned">
        <span *ngIf="timelog == null || (timelog != null && timelog.timeOut == null)">--</span>        
        <span *ngIf="timelog != null && timelog.timeOut != null">{{timelog.timeOut | date:'hh:mm:ss a'}}</span>
      </td>
      <td class="center aligned" [ngClass]="{'warning': timelog != null && timelog.lateHrs != null}">
        <span *ngIf="timelog == null || (timelog != null && timelog.lateHrs == null)">--</span>        
        <span *ngIf="timelog != null && timelog.lateHrs != null">{{timelog.lateHrs}}</span>
      </td>
      <td class="center aligned">
        <span *ngIf="timelog == null || (timelog != null && timelog.totalHrs == null)">00:00:00</span>        
        <span *ngIf="timelog != null && timelog.totalHrs != null">{{timelog.totalHrs}}</span>
      </td>
    </tr>
  </tbody>
</table>