#current-user {
   margin-left: 5px;
   font-weight: 600;
}

.ui.inverted.top.borderless.fluid.fixed.menu {
   margin-left: 260px;
   border-radius: 0px;
   width: calc(100% - 260px) !important;
}

@media only screen and (max-width: 991px) {
   .ui.inverted.top.borderless.fluid.fixed.menu {
      margin-left: 0px;
      width: 100% !important;
   }
}

.hamburger.item {
   padding: 0px;
}

.hamburger.item>a {
   height: 100%;
   padding: 20px;
}

.right.item {
   padding: 0px;
}
