<div class="ui grid">
   <div class="ui row">
      <div class="ui column" style="overflow-y:auto;">
         <table class="ui celled unstackable single line table" id="time-logs">
            <thead>
               <tr>
                  <th class="center aligned four wide">Online Users</th>
                  <th class="center aligned two wide">Date</th>
                  <th class="center aligned three wide">Time In</th>
                  <th class="center aligned three wide">Time Out</th>
                  <th class="center aligned">Late Hours</th>
                  <th class="center aligned">Work Hours</th>
               </tr>
            </thead>
            <tbody>
               <tr class="center aligned" *ngIf="loading">
                  <td colspan="6">
                     <content-loader></content-loader>
                  </td>
               </tr>
               <tr *ngIf="users?.length < 1 && !loading">
                  <td class="center aligned" colspan="6" id="no-data">No Timelogs for the Day</td>
               </tr>
               <tr *ngFor="let user of users">
                  <td>
                     <img class="ui avatar image" src="{{user.imgUrl}}">
                     <a [routerLink]="['/admin/timelogs/user', user.username]" class="nameLink">{{user.lastName}}, {{user.firstName}}</a>
                  </td>
                  <td class="center aligned">
                     <span *ngIf="user._timelog == null || (user._timelog != null && user._timelog.timeIn == null)">--</span>
                     <span *ngIf="user._timelog != null && user._timelog.timeIn != null">{{user._timelog.timeIn | date:'MMM dd' }}</span>
                  </td>
                  <td class="center aligned">
                     <span *ngIf="user._timelog == null || (user._timelog != null && user._timelog.timeIn == null)">--</span>
                     <span *ngIf="user._timelog != null && user._timelog.timeIn != null">{{user._timelog.timeIn | date:'hh:mm:ss a'}}</span>
                  </td>
                  <td class="center aligned">
                     <span *ngIf="user._timelog == null || (user._timelog != null && user._timelog.timeOut == null)">--</span>
                     <span *ngIf="user._timelog != null && user._timelog.timeOut != null">{{user._timelog.timeOut | date:'hh:mm:ss a'}}</span>
                  </td>
                  <td class="center aligned" [ngClass]="{'warning': user._timelog != null && user._timelog.lateHrs != null}">
                     <span *ngIf="user._timelog == null || (user._timelog != null && user._timelog.lateHrs == null)">--</span>
                     <span *ngIf="user._timelog != null && user._timelog.lateHrs != null">{{user._timelog.lateHrs}}</span>
                  </td>
                  <td class="center aligned">
                     <span *ngIf="user._timelog == null || (user._timelog != null && user._timelog.totalHrs == null)">00:00:00</span>
                     <span *ngIf="user._timelog != null && user._timelog.totalHrs != null">{{user._timelog.totalHrs}}</span>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>
