<table class="ui celled single line fixed table" id="online-user">
   <thead>
      <tr>
         <th>
            Online Users
            <div class="ui horizontal label">
               {{onlineUsers.length}}
            </div>
         </th>
      </tr>
   </thead>
   <tbody>
      <tr class="center aligned" *ngIf="loading">
         <td>
            <content-loader></content-loader>
         </td>
      </tr>
      <tr *ngIf="onlineUsers?.length < 1 && !loading">
         <td>
            No Online Users
         </td>
      </tr>
      <tr *ngFor="let user of onlineUsers">
         <td>
            <img class="ui avatar image" src="{{user.imgUrl}}"> {{user.lastName}}, {{user.firstName}}
         </td>
      </tr>
   </tbody>
</table>
