<div class="ui grid container" id="content">
  <div class="ui row">
    <div class="ui column">
      <span id="time">1:17:48PM</span>
      <span id="date">Thu, 8 June 2017</span>
    </div>
  </div>
  <div class="ui three column stackable row">
    <!-- Online Users -->
    <div class="column">
      <time-in></time-in>
      <!--<div *ngIf="getUserStatus() == 0">
        <time-in-panel></time-in-panel>        
      </div>
      <div *ngIf="getUserStatus() == 1">
        <time-out-panel></time-out-panel>        
      </div>      -->
    </div>

    <!-- Users on Break -->
    <div class="column">
    </div>
  </div>
</div>