<div class="ui grid container" id="content">
  <div class="ui row">
    <div class="ui six wide column">
      <span id="time">1:17:48PM</span>
      <span id="date">Thu, 8 June 2017</span>
    </div>
  </div>
  <div class="ui row">
    <div class="ui six wide column">
      <div class="ui segments">
        <div class="ui segment" id="header-segment">
          <h4>Current Network</h4>
        </div>
        <div class="ui secondary segment">
          <div class="ui grid">
            <div class="ui one column row">
              <div class="ui column">
                <div class="ui divided selection list">
                  <a class="item" id="hostname">
                    <div class="ui horizontal label" >Host Name</div>
                    112.209.229.153.pldt.net
                  </a>
                  <a class="item" id="ip-address">
                    <div class="ui purple horizontal label">IP Address</div>
                    112.209.229.153
                  </a>
                  <a class="item ui form" id="description">
                    <div class="field">
                        <input type="text" name="first-name" placeholder="Description">
                      </div>
                  </a>
                </div>
              </div>
              <div class="ui center aligned column">
                <div class="ui button">Save to Database</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui ten wide column">
      <table class="ui celled table" id="time-logs">
        <thead>
          <tr>
            <th class="center aligned">Hostname</th>
            <th class="center aligned">Description</th>
            <th class="center aligned">Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="center aligned">112.209.229.153.pldt.net</td>
            <td class="center aligned">112.209.229.153</td>
            <td class="center aligned">Whitelisted</td>
            <td class="center aligned">
              <div class="ui massive icon button" data-tooltip="Set as blacklisted" data-inverted="">
                <i class="toggle on icon"></i>
              </div>
            </td>
          </tr>
          <tr>
            <td class="center aligned">112.209.229.153.pldt.net</td>
            <td class="center aligned">112.209.229.153</td>
            <td class="center aligned">Whitelisted</td>
            <td class="center aligned">
              <div class="ui massive icon button" data-tooltip="Set as blacklisted" data-inverted="">
                <i class="toggle on icon"></i>
              </div>
            </td>
          </tr>
          <tr>
            <td class="center aligned">112.209.229.153.pldt.net</td>
            <td class="center aligned">112.209.229.153</td>
            <td class="center aligned">Blacklisted</td>
            <td class="center aligned">
              <div class="ui massive icon button" data-tooltip="Set as whitelisted" data-inverted="">
                <i class="toggle off icon"></i>
              </div>
            </td>
          </tr>
          <tr>
            <td class="center aligned">121.58.237.218</td>
            <td class="center aligned">121.58.237.218</td>
            <td class="center aligned">Blacklisted</td>
            <td class="center aligned">
              <div class="ui massive icon button" data-tooltip="Set as whitelisted" data-inverted="">
                <i class="toggle off icon"></i>
              </div>
            </td>
          </tr>
          <tr>
            <td class="center aligned">112.209.151.52.pldt.net</td>
            <td class="center aligned">112.209.151.52</td>
            <td class="center aligned">Whitelisted</td>
            <td class="center aligned">
              <div class="ui massive icon button" data-tooltip="Set as blacklisted" data-inverted="">
                <i class="toggle on icon"></i>
              </div>
            </td>
          </tr>
          <tr>
            <td class="center aligned">112.209.229.153.pldt.net</td>
            <td class="center aligned">112.209.229.153</td>
            <td class="center aligned">Whitelisted</td>
            <td class="center aligned">
              <div class="ui massive icon button" data-tooltip="Set as blacklisted" data-inverted="">
                <i class="toggle on icon"></i>
              </div>
            </td>
          </tr>
          <tr>
            <td class="center aligned">112.209.229.153.pldt.net</td>
            <td class="center aligned">112.209.229.153</td>
            <td class="center aligned">Whitelisted</td>
            <td class="center aligned">
              <div class="ui massive icon button" data-tooltip="Set as blacklisted" data-inverted="">
                <i class="toggle on icon"></i>
              </div>
            </td>
          </tr>
          <tr>
            <td class="center aligned">112.209.229.153.pldt.net</td>
            <td class="center aligned">112.209.229.153</td>
            <td class="center aligned">Blacklisted</td>
            <td class="center aligned">
              <div class="ui massive icon button" data-tooltip="Set as whitelisted" data-inverted="">
                <i class="toggle off icon"></i>
              </div>
            </td>
          </tr>
          <tr>
            <td class="center aligned">121.58.237.218</td>
            <td class="center aligned">121.58.237.218</td>
            <td class="center aligned">Blacklisted</td>
            <td class="center aligned">
              <div class="ui massive icon button" data-tooltip="Set as whitelisted" data-inverted="">
                <i class="toggle off icon"></i>
              </div>
            </td>
          </tr>
          <tr>
            <td class="center aligned">112.209.151.52.pldt.net</td>
            <td class="center aligned">112.209.151.52</td>
            <td class="center aligned">Whitelisted</td>
            <td class="center aligned">
              <div class="ui massive icon button" data-tooltip="Set as blacklisted" data-inverted="">
                <i class="toggle on icon"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>