.ui.right.floated.edit.button{
    padding: 0px;
    background-color: transparent;
}

.ui.segments{
	border: 2.5px solid #2ec4b6;
	border-radius: 24px 24px 20px 20px;
}

.ui.segments>.segment{
    border-top: none;
}

.ui.segment#header-segment{
	background-color: #2ec4b6;
	color: white;
	border-radius: 20px 20px 0px 0px;
    border-top: none;
}

.ui.segment#header-segment *{
	display: inline;
    vertical-align: middle;
}

.ui.segment#header-segment h4{
	font-family: 'Comfortaa', cursive;
}

.ui.secondary.segment{
	background-color: transparent;
}

.ui.secondary.segment .ui.button{
	background-color: #aa67da;
	color: white;
	margin-top: 2px;
}

.fields{
    margin-bottom: 0px !important;
}

.ui.form .field .ui.labeled.input .ui.label{
    background-color: #2ec4b6;
    border-radius: 20px 0px 0px 20px;
    color: white;
    line-height: 40px;
    padding: 0px 20px;
    font-family: 'Comfortaa';
    font-size: 1.03142857rem;
    font-weight: 900;
    text-align: center;
}


.ui.form .field .ui.input input{
	background-color: transparent;
    border-radius: 0px 20px 20px 0px;
    border: 2px solid #2ec4b6;
    color: #2ec4b6;    
}

.ui.form .fields > .field{
    padding-bottom: 10px;
}

.ui.form .fields > .field:last-child{
    padding-bottom: 0px;
}

.ui.form input::placeholder{
	color: #2ec4b6;
}

::-webkit-input-placeholder { /* Chrome */
  color: #2ec4b6;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #2ec4b6;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #2ec4b6;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #2ec4b6;
  opacity: 1;
}
