<div class="ui stackable grid container">
   <div class="ui row" id="breadcrumb-container">
      <div class="ui column">
         <div class="ui breadcrumb">
            <a class="section">Settings</a>
            <div class="divider"> / </div>
            <div class="active section">Profile</div>
         </div>
      </div>
   </div>
   <div class="ui centered row">
      <div class="ui seven wide column">
         <div class="ui segments">
            <div class="ui segment" id="header-segment">
               <h4>User Profile</h4>
            </div>
            <div class="ui center aligned padded secondary segment">
               <div class="ui grid">
                  <div class="row">
                     <div class="column">
                        <div class="ui circular small upload image" *ngIf="allowEditing == true">
                           <div class="ui dimmer">
                              <div class="content">
                                 <div class="center">
                                    Upload
                                    <input type="file" name="file" (change)="fileEvent($event)">
                                 </div>
                              </div>
                           </div>
                           <img src="{{imgUrl}}">
                        </div>
                        <div class="ui circular small image" *ngIf="allowEditing == false">
                           <img src="{{imgUrl}}">
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="column">
                        <h2 class="ui header">
                           <div class="content">
                              {{userDetailsForm.controls.lastName.value || getLastName()}}, {{userDetailsForm.controls.firstName.value || getFirstName()}}
                              <div class="sub header">@{{accountDetailsForm.controls.username.value || getUsername()}}</div>
                           </div>
                        </h2>
                     </div>
                  </div>
                  <div class="row">
                     <div class="column">
                        <div class="ui grid container">
                           <div class="equal width row">
                              <div class="column">
                                 <div class="ui fluid button" (click)="toggleFormEditing()" *ngIf="!allowEditing">
                                    Edit Profile
                                 </div>
                                 <div class="ui fluid save button" (click)="saveChanges()" *ngIf="allowEditing">
                                    Save Changes
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="ui nine wide column">
         <div class="ui grid">
            <div class="row">
               <div class="column">
                  <div class="ui segments">
                     <div class="ui segment" id="header-segment">
                        <h4>Account Details</h4>
                        <a class="ui right floated edit button" data-tooltip="Click to Unlock" data-inverted="" *ngIf="accountDetailsFormLock == true && accountDetailsForm.pristine && allowEditing"
                           (click)="toggleAccountDetails()">
              <i class="lock icon"></i>
            </a>
                        <a class="ui right floated edit button" data-tooltip="Click to Lock" data-inverted="" *ngIf="accountDetailsFormLock == false && accountDetailsForm.pristine && allowEditing"
                           (click)="toggleAccountDetails()">
              <i class="unlock icon"></i>
            </a>
                     </div>
                     <div class="ui center aligned padded secondary segment">
                        <form class="ui form" [formGroup]="accountDetailsForm">
                           <div class="fields">
                              <div class="eight wide field">
                                 <div class="ui labeled input" [ngClass]="{'disabled': accountDetailsFormLock}">
                                    <div class="ui label">
                                       <i class="user icon"></i>
                                    </div>
                                    <input type="text" placeholder="{{getUsername()}}" formControlName="username">
                                 </div>
                              </div>
                              <div class="eight wide field">
                                 <div class="ui labeled input" [ngClass]="{'disabled': accountDetailsFormLock}">
                                    <div class="ui label">
                                       <i class="lock icon"></i>
                                    </div>
                                    <input type="password" placeholder="********" formControlName="password">
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="column">
                  <div class="ui segments">
                     <div class="ui segment" id="header-segment">
                        <h4>User Details</h4>
                     </div>
                     <div class="ui padded secondary segment">
                        <form class="ui form" [formGroup]="userDetailsForm">
                           <div class="sixteen wide field">
                              <div class="ui labeled input" [ngClass]="{'disabled': !allowEditing}">
                                 <div class="ui label">
                                    First Name
                                 </div>
                                 <input type="text" placeholder="First Name" formControlName="firstName">
                              </div>
                           </div>
                           <div class="sixteen wide field">
                              <div class="ui labeled input" [ngClass]="{'disabled': !allowEditing}">
                                 <div class="ui label">
                                    Last Name
                                 </div>
                                 <input type="text" placeholder="Last Name" formControlName="lastName">
                              </div>
                           </div>
                           <div class="fields">
                              <div class="eight wide field">
                                 <div class="ui labeled input" [ngClass]="{'disabled': !allowEditing}">
                                    <div class="ui label">
                                       <i class="phone icon"></i>
                                    </div>
                                    <input type="text" placeholder="Contact Number" formControlName="contactNumber">
                                 </div>
                              </div>
                              <div class="eight wide field">
                                 <div class="ui labeled input" [ngClass]="{'disabled': !allowEditing}">
                                    <div class="ui label">
                                       <i class="mail icon"></i>
                                    </div>
                                    <input type="email" placeholder="Email Address" formControlName="email">
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
