body{
	background-color: #d9d9d9;
}


.ui.row#breadcrumb-container{
   padding-bottom: 0px;
}

.ui.breadcrumb{
   font-family: 'Comfortaa', cursive;
   font-size: 1.2em;
}

.ui.breadcrumb .active{
   font-weight: bolder;
   margin-right: 4px;
}

.ui.breadcrumb * {
   padding: 8px 0px !important;
}


user-sidebar.ui.vertical.menu, sidebar.ui.vertical.menu{
	width: 260px;
}
user-sidebar.ui.menu .item.link, sidebar.ui.menu .item.link{
	font-family: 'Comfortaa', cursive;
	letter-spacing: 0.3px;
	font-size: 17px;
	font-weight: bolder;
	color: #65666b;
	border-left: 4px solid transparent;
	padding: 15px 30px;
}

user-sidebar.ui.inverted.menu .item.link:hover, sidebar.ui.inverted.menu .item.link:hover{
	border-left: 4px solid #aa67da;
	color: #aa67da !important;
}

user-sidebar.ui.inverted.menu .active.item.link, sidebar.ui.inverted.menu .active.item.link{
	border-left: 4px solid #aa67da;
	background-color: transparent;
	color: #aa67da !important;
}

user-sidebar.ui.inverted.menu .active.item.link:hover, sidebar.ui.inverted.menu .active.item.link:hover{
	border-left: 4px solid #67dacb;
	color: #67dacb !important;
}

user-sidebar.ui.inverted.top.menu, sidebar.ui.inverted.top.menu{
	background-color: #111111;
	border-radius: 0px;
}

user-sidebar.ui.inverted.top.menu .right.item, sidebar.ui.inverted.top.menu .right.item{
	padding: 0px;
}

user-sidebar.ui.vertical.menu .item > i.left.aligned.icon, sidebar.ui.vertical.menu .item > i.left.aligned.icon {
  float: left;
  margin: 0 0.5em 0 0;
}

user-sidebar.ui.left.vertical.inverted.labeled.visible.menu, sidebar.ui.left.vertical.inverted.labeled.visible.menu{
	background-color: #2a2830;
}

.ui.button{
	border-radius: 20px;
}

.ui.icon.button{
	background-color: #dc354e;
}

/*Time*/



.nav-icon{
	margin-right: 15px;
	font-size: 	22px;
	line-height: 20px;
	display: inline-block;
    vertical-align: middle;
}

.nav-label{
	line-height: 20px;
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 767px) {
    .mobile.hidden,
    .tablet.only,
    .small.monitor.only,
    .large.monitor.only {
        display: none !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mobile.only,
    .tablet.hidden,
    .small.monitor.only,
    .large.monitor.only {
        display: none !important;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .mobile.only,
    .tablet.only,
    .small.monitor.hidden,
    .large.monitor.only {
        display: none !important;
    }
}
@media only screen and (min-width: 1200px) {
    .mobile.only,
    .tablet.only,
    .small.monitor.only,
    .large.monitor.hidden {
        display: none !important;
    }
}

#no-data{
	line-height: 50px;
	padding: 20px 14px;
}
