<table class="ui celled table" id="time-logs">
  <thead>
    <tr>
      <th>Online Users</th>
      <th class="center aligned">Date</th>
      <th class="center aligned">Time In</th>
      <th class="center aligned">Time Out</th>
      <th class="center aligned">Late Hours</th>
      <th class="center aligned">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="timelogs?.length < 1">
      <td class="center aligned" colspan="6">No Timelogs for the Day</td>
    </tr>
    <tr *ngFor="let timelog of timelogs">
      <td>
        <img class="ui avatar image" src="{{timelog._user.imgUrl}}">
        {{timelog._user.name}}
      </td>
      <td class="center aligned">{{timelog.timeIn | date}}</td>
      <td class="center aligned">{{timelog.timeIn | date:'hh:mm:ss a'}}</td>
      <td class="center aligned">
        <span *ngIf="timelog.timeOut == null">--</span>        
        <span *ngIf="timelog.timeOut != null">{{timelog.timeOut | date:'hh:mm:ss a'}}</span>
      </td>
      <td class="center aligned" [ngClass]="{'warning': timelog.lateHrs != null}">
        <span *ngIf="timelog.lateHrs == null">--</span>        
        <span *ngIf="timelog.lateHrs != null">{{timelog.lateHrs}}</span>
      </td>
      <td class="center aligned">
        <span *ngIf="timelog.totalHrs == null">00:00:00</span>        
        <span *ngIf="timelog.totalHrs != null">{{timelog.totalHrs}}</span>
      </td>
    </tr>
  </tbody>
</table>