<div class="ui grid container" id="content">
   <div class="ui row" id="breadcrumb-container">
      <div class="ui column">
         <div class="ui breadcrumb">
            <a class="section" routerLink="/">User Dashboard</a>
            <div class="divider"> / </div>
            <div class="active section">My Offset Hours Monitor</div>
         </div>
      </div>
   </div>
   <div class="ui  stackable row">
      <div class="column">
         <my-offsets-table></my-offsets-table>
      </div>
   </div>
</div>
