/* Users on Break */

.ui.table#users-break {
   background-color: transparent;
   border-color: #00d277;
   border-width: 2.5px;
   border-radius: 20px;
}

.ui.table#users-break thead {
   background-color: #00d277;
   border-radius: 17px 17px 0px 0px;
}

.ui.table#users-break thead tr th {
   background-color: #00d277;
   color: white;
   font-family: 'Comfortaa', cursive;
   font-size: 1.07142857rem;
   letter-spacing: 0.3px;
   padding: 14px 20px;
}

.ui.table#users-break thead tr:first-child>th:only-child {
   border-radius: 16px 16px 0px 0px;
}

.ui.table#users-break tbody tr td {
   border-color: #00d277;
   border-width: 2.5px;
}

.ui.table#users-break td {
   color: #38383b;
   padding: 14px 20px;
   font-family: 'Comfortaa', cursive;
   font-size: 1.07142857rem;
   font-weight: 600;
}

.ui.table#users-break tbody:last-child>td {
   padding: 0px;
}

/* Horizontal Label */

.ui.horizontal.label {
   min-width: 18px;
   background-color: white;
   padding: 2px 3px;
   font-family: 'Lato';
   font-weight: bolder;
   color: #00d277;
}
