<div class="ui grid container" id="content">
  <div class="ui row">
    <div class="ui column">
      <span id="time">1:17:48PM</span>
      <span id="date">Thu, 8 June 2017</span>
    </div>
  </div>
  <div class="ui three column stackable row">
    <!-- Online Users -->
    <div class="column">
      <online-users-monitor></online-users-monitor>
    </div>

    <!-- Users on Break -->
    <div class="column">
      <table class="ui celled table" id="users-break">
        <thead>
          <tr>
            <th>
              Users on Break
            </th>
          </tr>
        </thead>
        <tbody>
          <tr><td>
            <img class="ui avatar image" src="../../assets/images/wireframe.png">
            Abad, Bads
          </td></tr>
          <tr><td>
            <img class="ui avatar image" src="../../assets/images/wireframe.png">
            Andalajao, Nix
          </td></tr>
          <tr><td>
            <img class="ui avatar image" src="../../assets/images/wireframe.png">
            Atienza, Paolo
          </td></tr>
          <tr><td>
            <img class="ui avatar image" src="../../assets/images/wireframe.png">
            Guiterrez, Angel
          </td></tr>
          <tr><td>
            <img class="ui avatar image" src="../../assets/images/wireframe.png">
            Miclat, Mitch
          </td></tr>
          <tr><td>
            <img class="ui avatar image" src="../../assets/images/wireframe.png">
            Morit, Andre
          </td></tr>
        </tbody>
      </table>
    </div>

    <!-- Offline Users -->
    <div class="column">
      <offline-users-monitor></offline-users-monitor>
    </div>  
  </div>
</div>