<div class="ui grid container" id="content">
	<div class="ui row">
	  <div class="ui six wide column">
	    <span id="time">1:17:48PM</span>
	    <span id="date">Thu, 8 June 2017</span>
	  </div>
	</div>
	<div class="ui row">
	  <div class="ui four wide column">
	    <div class="ui form">
	      <div class="field">
	        <input type="text" name="view-by-date" placeholder="View by Date">
	      </div>
	    </div>
	  </div>
	  <div class="ui three wide column">
	    <div class="ui export button">Export to CSV</div>
	  </div>
	</div>
	<div class="ui  stackable row">
	  <!-- Online Users -->
	  <div class="column">
	    <table class="ui celled table" id="time-logs">
	      <thead>
	        <tr>
	          <th>Online Users</th>
	          <th class="center aligned">Date</th>
	          <th class="center aligned">Time In</th>
	          <th class="center aligned">Time Out</th>
	          <th class="center aligned">Late Hours</th>
	          <th class="center aligned">Total</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr>
	          <td>
	            <img class="ui avatar image" src="../../assets/images/wireframe.png">
	            Abad, Bads
	          </td>
	          <td class="center aligned">June 8, 2017</td>
	          <td class="center aligned">9:30 AM</td>
	          <td class="center aligned">--</td>
	          <td class="center aligned">--</td>
	          <td class="center aligned">00:00:00</td>
	        </tr>
	        <tr>
	          <td>
	            <img class="ui avatar image" src="../../assets/images/wireframe.png">
	            Andalajao, Nix
	          </td>
	          <td class="center aligned">June 8, 2017</td>
	          <td class="center aligned">9:30 AM</td>
	          <td class="center aligned">--</td>
	          <td class="center aligned">--</td>
	          <td class="center aligned">00:00:00</td>
	        </tr>
	        <tr>
	          <td>
	            <img class="ui avatar image" src="../../assets/images/wireframe.png">
	            Atienza, Paolo
	          </td>
	          <td class="center aligned">June 8, 2017</td>
	          <td class="center aligned">9:30 AM</td>
	          <td class="center aligned">--</td>
	          <td class="center aligned">--</td>
	          <td class="center aligned">00:00:00</td>
	        </tr>
	        <tr>
	          <td>
	            <img class="ui avatar image" src="../../assets/images/wireframe.png">
	            Guiterrez, Angel
	          </td>
	          <td class="center aligned">June 8, 2017</td>
	          <td class="center aligned">9:30 AM</td>
	          <td class="center aligned">--</td>
	          <td class="center aligned">--</td>
	          <td class="center aligned">00:00:00</td>
	        </tr>
	        <tr>
	          <td>
	            <img class="ui avatar image" src="../../assets/images/wireframe.png">
	            Miclat, Mitch
	          </td>
	          <td class="center aligned">June 8, 2017</td>
	          <td class="center aligned">9:30 AM</td>
	          <td class="center aligned">--</td>
	          <td class="center aligned">--</td>
	          <td class="center aligned">00:00:00</td>
	        </tr>
	        <tr>
	          <td>
	            <img class="ui avatar image" src="../../assets/images/wireframe.png">
	            Morit, Andre
	          </td>
	          <td class="center aligned">June 8, 2017</td>
	          <td class="center aligned">9:30 AM</td>
	          <td class="center aligned">--</td>
	          <td class="center aligned">--</td>
	          <td class="center aligned">00:00:00</td>
	        </tr>
	      </tbody>
	    </table>
	  </div>
	</div>
</div>
