<div class="ui stackable grid container">
   <div class="ui row" id="breadcrumb-container">
      <div class="ui column">
         <div class="ui breadcrumb">
            <a class="section" routerLink="/admin">Admin Dashboard</a>
            <div class="divider"> / </div>
            <div class="active section">Create User</div>
         </div>
      </div>
   </div>
   <form class="ui row form" [formGroup]="addUserForm" (ngSubmit)="addUserForm.valid && addUser()" novalidate>
      <div class="ui eight wide column">
         <div class="ui segments">
            <div class="ui segment" id="header-segment">
               <h4>Profile Picture</h4>
            </div>
            <div class="ui center aligned padded secondary segment">
               <div class="ui grid">
                  <div class="row">
                     <div class="column">
                        <div class="ui circular small image">
                           <img [src]="image" alt="">
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="column">
                        <h2 class="ui header">
                           <div class="content">
                              {{addUserForm.controls.lastName.value || 'Talahib'}}, {{addUserForm.controls.firstName.value || 'Gregorio'}}
                              <div class="sub header">@{{addUserForm.controls.username.value || 'gregoriotalahib'}}</div>
                           </div>
                        </h2>
                     </div>
                  </div>
                  <div class="row">
                     <div class="column">
                        <div class="ui grid container">
                           <div class="equal width row">
                              <div class="column">
                                 <div class="ui fluid button">
                                    Upload Profile Picture
                                    <input type="file" name="file" (change)="fileEvent($event)">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="ui eight wide column">
         <div class="ui grid">
            <div class="row">
               <div class="column">
                  <div class="ui segments" [ngClass]="{'error': !addUserForm.pristine && addUserForm.touched && addUserForm.invalid}">
                     <div class="ui segment" id="header-segment">
                        <h4>User Details</h4>
                     </div>
                     <div class="ui padded secondary segment">
                        <div class="ui form">
                           <div class="sixteen wide field" [ngClass]="{'error': addUserForm.controls.username.invalid && addUserForm.controls.username.dirty }">
                              <label>{{usernameLabel}}</label>
                              <div class="ui labeled input">
                                 <div class="ui label">
                                    <i class="user icon"></i>
                                 </div>
                                 <input type="text" placeholder="Username" value="rftomista" formControlName="username">
                              </div>
                           </div>
                           <div class="sixteen wide field" [ngClass]="{'error': addUserForm.controls.password.invalid && !addUserForm.controls.password.pristine }">
                              <label>{{passwordLabel}}</label>
                              <div class="ui labeled input">
                                 <div class="ui label">
                                    <i class="lock icon"></i>
                                 </div>
                                 <input type="password" placeholder="Password" value="********" formControlName="password">
                              </div>
                           </div>
                           <div class="sixteen wide field" [ngClass]="{'error': addUserForm.controls.firstName.invalid && !addUserForm.controls.firstName.pristine }">
                              <label>{{firstNameLabel}}</label>
                              <div class="ui labeled input">
                                 <div class="ui label"><i class="certificate icon"></i></div>
                                 <input type="text" placeholder="First Name" value="Rainier Francis" formControlName="firstName">
                              </div>
                           </div>
                           <div class="sixteen wide field" [ngClass]="{'error': addUserForm.controls.lastName.invalid && !addUserForm.controls.lastName.pristine }">
                              <label>{{lastNameLabel}}</label>
                              <div class="ui labeled input">
                                 <div class="ui label"><i class="certificate icon"></i></div>
                                 <input type="text" placeholder="Last Name" value="Tomista" formControlName="lastName">
                              </div>
                           </div>
                           <div class="sixteen wide field" [ngClass]="{'error': addUserForm.controls.contactNumber.invalid && !addUserForm.controls.contactNumber.pristine }">
                              <label>Contact Number</label>
                              <div class="ui labeled input">
                                 <div class="ui label">
                                    <i class="phone icon"></i>
                                 </div>
                                 <input type="text" placeholder="Contact Number" formControlName="contactNumber">
                              </div>
                           </div>
                           <div class="sixteen wide field" [ngClass]="{'error': addUserForm.controls.email.invalid && !addUserForm.controls.email.pristine }">
                              <label>{{emailLabel}}</label>
                              <div class="ui labeled input">
                                 <div class="ui label">
                                    <i class="mail icon"></i>
                                 </div>
                                 <input type="email" placeholder="Email Address" value="rftomista@gmail.com" formControlName="email">
                              </div>
                           </div>
                           <div class="field">
                              <div class="ui checkbox">
                                 <input type="checkbox" name="example" formControlName="isAdmin">
                                 <label>Give administrator privileges</label>
                              </div>
                           </div>
                           <div class="field">
                              <button class="ui fluid button" [disabled]="!addUserForm.valid">Create User</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </form>
</div>
