
<table class="ui celled fixed single line table" id="time-logs">
  <thead>
    <tr>
      <th class="center aligned four wide">Full Name</th>
      <th class="center aligned">Username</th>
      <th class="center aligned">Contact #</th>
      <th class="center aligned">Email Address</th>
      <th class="center aligned two wide">Status</th>
      <th class="two wide"></th>
    </tr>
  </thead>
  <tbody>
  <tr *ngIf="users?.length < 1">
    <td class="center aligned" colspan="5">No Users</td>
  </tr>
  
  <tr *ngFor="let user of users">
    <td>
      <img class="ui avatar image" src="{{user.imgUrl}}">
      {{user.name}}
    </td>
    <td class="center aligned">{{user.username}}</td>
    <td class="center aligned">
      <span *ngIf="user.contactNumber === null">--</span>
      <span *ngIf="user.contactNumber !== null">{{user.contactNumber}}</span>
    </td>
    <td class="center aligned">{{user.email}}</td>
    <td class="center aligned">
      <span *ngIf="user.status === 0">Offline</span>
      <span *ngIf="user.status === 1">Online</span>  
      <span *ngIf="user.status === 2">On Break</span>
      <span *ngIf="user.status === 3">Suspended</span>              
    </td>
    <td class="center aligned options">
      <div class="ui icon suspend button" data-tooltip="Suspend User" data-inverted="" *ngIf="user.status != 3">
        <i class="remove icon" (click)="suspend(user)"></i>
      </div>
      <div class="ui icon unsuspend button" data-tooltip="Unsuspend User" data-inverted="" *ngIf="user.status == 3">
        <i class="check icon" (click)="unsuspend(user)"></i>
      </div>
    </td>
  </tr>
  </tbody>
</table>