.ui.table#time-logs{
	background-color: transparent;
	border-color: #2ec4b6;
	border-width: 2.5px;
	border-radius: 20px;
	table-layout: fixed
}

.ui.table#time-logs > tbody > tr > td{
	overflow-wrap: break-word;
}
.ui.table#time-logs > tbody > tr> td.center.aligned.options{
	overflow: visible;
}

.ui.table#time-logs thead{
	background-color: #2ec4b6;
}
.ui.table#time-logs thead tr th{
	background-color: #2ec4b6;
	color: white;
	font-family: 'Comfortaa', cursive;
	font-size: 1.07142857rem;
	letter-spacing: 0.3px;
	padding: 14px 20px;

}

.ui.table#time-logs thead tr th:first-child{
	border-radius: 17px 0px 0px 0px;
}

.ui.table#time-logs thead tr th:last-child{
	border-radius: 0px 17px 0px 0px;
}

.ui.table#time-logs thead tr:first-child>th:only-child{
	border-radius: 16px 16px 0px 0px;
}

.ui.table#time-logs tbody tr td{
	border-color: #2ec4b6;
	border-width: 2.5px;
}

.ui.table#time-logs td{
	color: #38383b;
	padding: 14px 20px;
	font-family: 'Comfortaa', cursive;
	font-size: 1.07142857rem;
	font-weight: 600;
}

.ui.table#time-logs tbody:last-child > td{
	padding: 0px;
}


.ui.icon.unsuspend.button{
	background-color: #aa67da;
}