<table class="ui celled table" id="time-logs">
  <thead>
    <tr>
      <th class="center aligned">Full Name</th>
      <th class="center aligned">Username</th>
      <th class="center aligned">Contact #</th>
      <th class="center aligned">Email Address</th>
      <th class="center aligned">Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <tr *ngIf="users?.length < 1">
    <td class="center aligned" colspan="5">No Users</td>
  </tr>
  
  <tr *ngFor="let user of users">
    <td>
      <img class="ui avatar image" src="{{user.imgUrl}}">
      {{user.name}}
    </td>
    <td class="center aligned">{{user.username}}</td>
    <td class="center aligned">{{"0" + user.contactNumber}}</td>
    <td class="center aligned">{{user.email}}</td>
    <td class="center aligned">
      <span *ngIf="user.status === 0">Offline</span>
      <span *ngIf="user.status === 1">Online</span>  
      <span *ngIf="user.status === 2">On Break</span>              
    </td>
    <td class="center aligned">
      <div class="ui icon button" data-tooltip="Remove" data-inverted="">
        <i class="remove icon" (click)="test(user)"></i>
      </div>
    </td>
  </tr>
  </tbody>
</table>