<div class="item">
  <img src="../../assets/images/av_landscape_white.png" alt="">
</div>
<div class="filler item"></div>
<a class="item link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="">
  <span class="nav-icon" data-icon="&#xe069;"></span>
  <span class="nav-label">Home</span>
</a>
<a class="item link" routerLinkActive="active" routerLink="/timelogs">
  <span class="nav-icon" data-icon="&#xe081;"></span>
  <span class="nav-label">Time Logs</span>
</a>
<a class="item link" routerLinkActive="active" routerLink="/network">
  <span class="nav-icon" data-icon="&#xe037;"></span>
  <span class="nav-label">Network</span>
</a>
<a class="item link" id="add-user">
  <span class="nav-icon" data-icon="&#xe002;"></span>
  <span class="nav-label">Add User</span>
</a>
<a class="item link" routerLinkActive="active" routerLink="/view-users">
  <span class="nav-icon" data-icon="&#xe001;"></span>
  <span class="nav-label">View Users</span>
</a>
