<div class="ui grid container" id="content">
   <div class="ui row" id="breadcrumb-container">
      <div class="ui column">
         <div class="ui breadcrumb">
            <a class="section" routerLink="/admin">Admin Dashboard</a>
            <div class="divider"> / </div>
            <div class="active section">Timelogs Monitor</div>
         </div>
         <export></export>
      </div>
   </div>
   <div class="ui  stackable row">
      <div class="column">
         <admin-timelogs-table></admin-timelogs-table>
      </div>
   </div>
</div>
