<div class="ui grid stackable container" id="content">
   <div class="ui row" id="breadcrumb-container">
      <div class="ui column">
         <div class="ui breadcrumb">
            <a class="section" routerLink="/admin">Admin Dashboard</a>
            <div class="divider"> / </div>
            <div class="active section">Network Monitor</div>
         </div>
      </div>
   </div>
   <div class="ui row">
      <div class="ui six wide computer sixteen wide tablet sixteen wide mobile column">
         <save-network></save-network>
      </div>
      <div class="ui ten wide computer sixteen wide tablet sixteen wide mobile column">
         <network-monitor-table></network-monitor-table>
      </div>
   </div>
</div>
