<div class="ui grid container" id="content">
	<div class="ui row">
	  <div class="ui six wide column">
	    <span id="time">1:17:48PM</span>
	    <span id="date">Thu, 8 June 2017</span>
	  </div>
	</div>
	<div class="ui row">
	  <div class="ui four wide column">
	    <div class="ui form">
	      <div class="field">
	        <input type="text" name="view-by-date" placeholder="View by Date">
	      </div>
	    </div>
	  </div>
	  <div class="ui three wide column">
	    <div class="ui export button">Export to CSV</div>
	  </div>
	</div>
	<div class="ui  stackable row">
	  <div class="column">
      <admin-timelogs-table></admin-timelogs-table>
	  </div>
	</div>
</div>
