<table class="ui celled table" id="time-logs">
  <thead>
    <tr>
      <th class="center aligned">Hostname</th>
      <th class="center aligned">Description</th>
      <th class="center aligned">Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="center aligned">112.209.229.153.pldt.net</td>
      <td class="center aligned">112.209.229.153</td>
      <td class="center aligned">Whitelisted</td>
      <td class="center aligned">
        <div class="ui massive icon button" data-tooltip="Set as blacklisted" data-inverted="">
          <i class="toggle on icon"></i>
        </div>
      </td>
    </tr>
    <tr>
      <td class="center aligned">112.209.229.153.pldt.net</td>
      <td class="center aligned">112.209.229.153</td>
      <td class="center aligned">Whitelisted</td>
      <td class="center aligned">
        <div class="ui massive icon button" data-tooltip="Set as blacklisted" data-inverted="">
          <i class="toggle on icon"></i>
        </div>
      </td>
    </tr>
    <tr>
      <td class="center aligned">112.209.229.153.pldt.net</td>
      <td class="center aligned">112.209.229.153</td>
      <td class="center aligned">Blacklisted</td>
      <td class="center aligned">
        <div class="ui massive icon button" data-tooltip="Set as whitelisted" data-inverted="">
          <i class="toggle off icon"></i>
        </div>
      </td>
    </tr>
    <tr>
      <td class="center aligned">121.58.237.218</td>
      <td class="center aligned">121.58.237.218</td>
      <td class="center aligned">Blacklisted</td>
      <td class="center aligned">
        <div class="ui massive icon button" data-tooltip="Set as whitelisted" data-inverted="">
          <i class="toggle off icon"></i>
        </div>
      </td>
    </tr>
    <tr>
      <td class="center aligned">112.209.151.52.pldt.net</td>
      <td class="center aligned">112.209.151.52</td>
      <td class="center aligned">Whitelisted</td>
      <td class="center aligned">
        <div class="ui massive icon button" data-tooltip="Set as blacklisted" data-inverted="">
          <i class="toggle on icon"></i>
        </div>
      </td>
    </tr>
    <tr>
      <td class="center aligned">112.209.229.153.pldt.net</td>
      <td class="center aligned">112.209.229.153</td>
      <td class="center aligned">Whitelisted</td>
      <td class="center aligned">
        <div class="ui massive icon button" data-tooltip="Set as blacklisted" data-inverted="">
          <i class="toggle on icon"></i>
        </div>
      </td>
    </tr>
    <tr>
      <td class="center aligned">112.209.229.153.pldt.net</td>
      <td class="center aligned">112.209.229.153</td>
      <td class="center aligned">Whitelisted</td>
      <td class="center aligned">
        <div class="ui massive icon button" data-tooltip="Set as blacklisted" data-inverted="">
          <i class="toggle on icon"></i>
        </div>
      </td>
    </tr>
    <tr>
      <td class="center aligned">112.209.229.153.pldt.net</td>
      <td class="center aligned">112.209.229.153</td>
      <td class="center aligned">Blacklisted</td>
      <td class="center aligned">
        <div class="ui massive icon button" data-tooltip="Set as whitelisted" data-inverted="">
          <i class="toggle off icon"></i>
        </div>
      </td>
    </tr>
    <tr>
      <td class="center aligned">121.58.237.218</td>
      <td class="center aligned">121.58.237.218</td>
      <td class="center aligned">Blacklisted</td>
      <td class="center aligned">
        <div class="ui massive icon button" data-tooltip="Set as whitelisted" data-inverted="">
          <i class="toggle off icon"></i>
        </div>
      </td>
    </tr>
    <tr>
      <td class="center aligned">112.209.151.52.pldt.net</td>
      <td class="center aligned">112.209.151.52</td>
      <td class="center aligned">Whitelisted</td>
      <td class="center aligned">
        <div class="ui massive icon button" data-tooltip="Set as blacklisted" data-inverted="">
          <i class="toggle on icon"></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>