<table class="ui celled table" id="time-logs">
  <thead>
    <tr>
      <th class="center aligned">Hostname</th>
      <th class="center aligned">Description</th>
      <th class="center aligned">Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let network of networks">
      <td class="center aligned">{{network.hostname}}</td>
      <td class="center aligned">{{network.description}}</td>
      <td class="center aligned">
        <span *ngIf="network.status == 1">Whitelisted</span>
        <span *ngIf="network.status == 0">Blacklisted</span>
      </td>
      <td class="center aligned">
        <div class="ui massive icon button" *ngIf="network.status == 1" data-tooltip="Set as blacklisted" data-inverted="">
          <i class="toggle on icon"></i>
        </div>
        <div class="ui massive icon button" *ngIf="network.status == 0" data-tooltip="Set as whitelisted" data-inverted="">
          <i class="toggle off icon"></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>